.homepage {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    box-shadow: 0 0 15px 5px gray;
    background: white;
    position: relative;
}

.homepage > .button {
    background: #7277f2;
    border: 1px solid #7277f2;
    color: #fff;
    font-size: 1.25rem;
    /* padding: 0.5rem; */
    /* margin: 0.5rem 0; */
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}
.pull-right {
    float: right;
    margin-top: 5px;
}
.container {
    max-width: 100%;
}
.uploadFile {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 30vh;
    box-shadow: 0 0 15px 5px gray;
    background: white;
    position: relative;
}
