.register {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: 99%;
    height: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px 5px gray;
    background: white;
    position: relative;
}
